<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.playstamp.faq.mybatis.IFaqDAO">
	<select id="getFaqList" resultType="com.playstamp.faq.Faq">
		SELECT FAQ_CD, MNG_CD, TITLE, CONTENTS
		FROM TBL_FAQ
	</select>
	
	<insert id="addFaq">
		INSERT INTO TBL_FAQ(FAQ_CD, MNG_CD, TITLE, CONTENTS)
		VALUES(FAQ_SEQ.NEXTVAL, 'M001', #{title}, #{contents})
	</insert>
	
	<update id="updateFaq">
		UPDATE TBL_FAQ
		SET TITLE=#{title}, CONTENTS=#{contents}
		WHERE FAQ_CD=#{faq_cd}
	</update>
	
	<delete id="deleteFaq">
		DELETE
		FROM TBL_FAQ
		WHERE FAQ_CD=#{faq_cd}
	</delete>
	
	<select id="searchFaq" resultType="com.playstamp.faq.Faq">
		SELECT FAQ_CD, TITLE, CONTENTS
		FROM TBL_FAQ
		WHERE FAQ_CD=#{faq_cd}
	</select>
</mapper>