<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.playstamp.myspacejjim.mybatis.IMyspaceJjimDAO">
	<select id="getMyspaceJjimList" resultType="com.playstamp.myspacejjim.MyspaceJjim">
		SELECT PLAY_IMG, PLAY_CD, USER_CD
		FROM VIEW_JJIMS
		WHERE USER_CD = #{user_cd}
	</select>
</mapper>