<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.playstamp.notice.mybatis.INoticeDAO">
	<select id="getNoticeList" resultType="com.playstamp.notice.Notice">
		SELECT NOTICE_CD, MNG_CD, TITLE, CONTENTS, WR_DT
		FROM TBL_NOTICE
	</select>
	
	<insert id="addNotice">
		INSERT INTO TBL_NOTICE(NOTICE_CD, MNG_CD, TITLE, CONTENTS, WR_DT)
		VALUES(NOTICE_SEQ.NEXTVAL, 'M001', #{title}, #{contents}, SYSDATE)
	</insert>
	
	<update id="updateNotice">
		UPDATE TBL_NOTICE
		SET TITLE=#{title}, CONTENTS=#{contents}
		WHERE NOTICE_CD=#{notice_cd}
	</update>
	
	<delete id="deleteNotice">
		DELETE
		FROM TBL_NOTICE
		WHERE NOTICE_CD=#{notice_cd}
	</delete>
	
	<select id="searchNotice" resultType="com.playstamp.notice.Notice">
		SELECT NOTICE_CD, TITLE, CONTENTS
		FROM TBL_NOTICE
		WHERE NOTICE_CD=#{notice_cd}
	</select>
</mapper>