<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.playstamp.report.mybatis.IReportDAO">
	<insert id="addReportPlayRev">
		INSERT INTO TBL_REP_REV(REP_REV_CD, PLAYREV_CD, REP_Y_CD, USER_CD, REP_DT)
		VALUES(REP_REV_SEQ.NEXTVAL, #{playrev_cd}, #{rep_y_cd}, #{user_cd}, SYSDATE)
	</insert>
	
	<insert id="addReportComment">
		INSERT INTO TBL_REP_COM(REP_COM_CD, COMMENT_CD, REP_Y_CD, USER_CD, REP_DT)
		VALUES(REP_COM_SEQ.NEXTVAL, #{comment_cd}, #{rep_y_cd}, #{user_cd}, SYSDATE)
	</insert>
	
	<insert id="addReportSeatRev">
		INSERT INTO TBL_REP_SEAT(REP_SEAT_CD, SEAT_REV_CD, REP_Y_CD, USER_CD, REP_DT)
		VALUES(REP_SEAT_SEQ.NEXTVAL, #{seat_rev_cd}, #{rep_y_cd}, #{user_cd}, SYSDATE)
	</insert>
	
	<insert id="addReportMseatRev">
		INSERT INTO TBL_REP_MSEAT(REP_MSEAT_CD, MSEAT_REV_CD, REP_Y_CD, USER_CD, REP_DT)
		VALUES(REP_SEAT_SEQ.NEXTVAL, #{mseat_rev_cd}, #{rep_y_cd}, #{user_cd}, SYSDATE) 
	</insert>
</mapper>